# compiled output
dist/
tmp/
out-tsc/

# dependencies
node_modules/

# VSCode (Supported IDE)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains (Not Supported IDE)
.idea/

# Others editors (Not Supported IDEs)
.project
.classpath
.c9
*.sublime-workspace

# LOG files
logs/
*.log

# System Files
.DS_Store
Thumbs.db

# Nx
**/.nx/cache
**/.nx/workspace-data


# Environment Files
.env
.env.local
.env.*.local

# NX specific ignores
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
